body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#draw {
  cursor: crosshair;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  mix-blend-mode: screen;
  background: rgba(255, 255, 255, 0.356);
  display: none;
}
h1 {
  width: 100%;
  height: 50vh;
  font-size: 15vw;
  text-align: center;
  font-family: "Nerko One", cursive;
  line-height: 555px;
  position: relative;
  color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
  
}
h2 {
  width: 100%;
  height: 50vh;
  font-size: 12vw;
  text-align: center;
  font-family: "Nerko One", cursive;
  line-height: 230px;
  position: relative;
  color: black;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  overflow: hidden;
  background: white;
}
.container {
  text-align: center;
  display: grid;
  justify-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 30px;
}
#gameStatus {
  width: 300px;
  height: 35px;
  border-radius: 10px;
  background-color: rgba(22, 189, 189, 0.466);
  margin: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 6px #3a390bc5;
  box-shadow: -1px 1px 9px 9px #aaaaaa96;
}
.game-board {
  width: 600px;
  height: 600px;
  margin: 5px;
  padding: 8px;
  background-color: #6200808f;
  color: #fff;
  border-radius: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  box-shadow: 3px 5px 10px #aaaaaa96;
}

.game-btn {
  color: #fff;
  background-color: #00439bfa;
  margin-right: -1px;
  cursor: crosshair;
  border-color: darkviolet;
  font-size: 150px;
}

#topLeft {
  border-top-left-radius: 8px;
}
#topRight {
  border-top-right-radius: 8px;
}
#bottomLeft {
  border-bottom-left-radius: 8px;
}
#bottomRight {
  border-bottom-right-radius: 8px;
}
.restart-btn {
  width: 300px;
  height: 35px;
  margin: 10px;
  border-radius: 10px;
  border-style: none;
  color: #fff;
  background-color: #bb0000;
  margin-right: -1px;
  cursor: crosshair;
  text-shadow: 2px 2px 6px #3a390bc5;
  box-shadow: 3px 5px 10px #aaaaaa96;
}
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* Overlay Section -------------------------------*/
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  padding: 15px;
  border-radius: 15px;
  font-size: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.836);
  text-shadow: 2px 2px 6px #3a390bc5;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  filter: ;
}
/* --------------------------------------------- */
